Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -bugprone-easily-swappable-parameters
  
WarningsAsErrors: ''

HeaderFilterRegex: '.*'
FormatStyle: file

ExtraArgs:
  - -std=c23
