[submodule "components/atlas_core"]
	path = components/atlas_core
	url = git@github.com:FranciszekJanicki/atlas_core.git
[submodule "components/sh1107"]
	path = components/sh1107
	url = git@github.com:FranciszekJanicki/sh1107.git
[submodule "components/bus_task"]
	path = components/bus_task
	url = git@github.com:FranciszekJanicki/bus_task.git
[submodule "components/utility"]
	path = components/utility
	url = git@github.com:FranciszekJanicki/utility.git
