[submodule "components/atlas_core"]
	path = components/atlas_core
	url = git@github.com:FranciszekJanicki/atlas_core.git
[submodule "components/sh1107"]
	path = components/sh1107
	url = git@github.com:FranciszekJanicki/sh1107.git
[submodule "components/handle_manager"]
	path = components/handle_manager
	url = git@github.com:FranciszekJanicki/handle_manager.git
