[submodule "/home/franek/Documents/stm32_cubemx/stm32l476rg/stm32_cubemx_atlas_robot/third_party/eigen"]
	path = /home/franek/Documents/stm32_cubemx/stm32l476rg/stm32_cubemx_atlas_robot/third_party/eigen
	url = git@github.com:PX4/eigen.git
